<!DOCTYPE html>
<html>

<head>
  {%  include head.html %}
</head>

<body>
  <div id="container">
    <div class="inner">
      <header>
        <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <h2>{{ site.description }}</h2>
      </header>
      <hr/>

      <section id="main_content">
        {{ content }}
      </section>
      <footer>
        {%  include footer.html %}
      </footer>
    </div>
  </div>
  <script>
  $(document).on('ready', function () {
    $('a').each(function (i, e) {
        var href = e.href;
        if (href.search('.md') > 0)
            $(this).attr('href', href.split('.md')[0]);
    });
  });
  </script>
</body>

</html>
